.add-btn {
  position: absolute;
  left: 48px;
  top: 96px;
  background: #ffffff;
  color: #666666;
  border: 3px solid #666666;
  border-radius: 8px;
  padding: 16px;
  width: 186px;
  height: 152px;
}

.add-icon {
  font-size: 36px;
  margin-bottom: 16px;
}
