.card {
  background: #282c34;
  color: #ffffff;
  border-radius: 8px;
  text-align: left;
  padding: 48px 16px 16px;
  height: 152px;
  max-width: 256px;
}

.card.red {
  background: #AA0948;
}

.card.blue {
  background: #004888;
}