.detail-container {
  margin-top: 24px;
}

.detail-container > .card {
  margin: auto;
}

.detail-container > h3 {
  margin-top: 16px;
  padding-top: 8px;
  border-top: 1px solid #CCC;
}

.detail-content {
  display: grid;
  grid-template-columns: 128px auto;
}

.detail-content .label {
  color: #666666;
}