@import '~antd/dist/antd.css';

.container {
  width: 100%;
  max-width: 1500px;
  padding: 48px;
  margin: auto;
  position: relative;
  padding-left: 248px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

/* ANT DESIGN CAROUSEL STYLE OVERRIDE */

.ant-carousel {
  padding: 32px;
}

.ant-carousel .slick-slide {
	padding: 16px 8px;
	box-sizing: border-box;
}

.ant-carousel .slick-dots {
  top: 0px;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset;
  font-size: unset;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}

.ant-carousel .slick-dots > li.slick-active {
  width: 16px;
}

.ant-carousel .slick-dots > li > button {
  background: #666666;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.ant-carousel .slick-dots > li.slick-active > button {
  background: #333333;
}